.contianer-nav {
  background-color: #E5E5E5; }

.flex-container-bio {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
  padding-bottom: 30px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  width: 50%;
  height: 650px;
  margin-top: 5%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #E5E5E5; }

.header-image {
  width: 65%; }

.col-1-header {
  text-align: center;
  margin-top: -125px;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  color: #444243;
  font-weight: 400; }

.p-col-1 {
  text-align: center;
  position: relative;
  font-size: 0.8em;
  font-family: "Roboto", sans-serif;
  color: #444243; }

.col-2-bio {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 500px; }

.col-2-header-bio {
  font-size: 0.8em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.col-2-par-bio {
  text-align: justify;
  font-weight: 300;
  font-size: 0.8em;
  font-family: "Roboto", sans-serif; }

.social-icons-bio {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 8%;
  border-top: top 1px solid #444243;
  width: 30%; }

.fb-icon-bio, .tw-icon-bio, .ig-icon-bio, .git-icon-bio, .bh-icon-bio {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  max-height: 10%; }

a {
  text-decoration: none; }

.contianer-footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7%;
  height: 100px;
  background-color: #E5E5E5;
  box-shadow: 0px -2px 0px -1px rgba(0, 0, 0, 0.35); }
